.main-wrapper {
  max-width: 794px;
  margin: 0 auto;
}

.main-wrapper .idea__profile__main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 32px 0;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto !important;
  padding-right: 20px;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round .avatar-photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round .text-container {
  margin-left: 17px;
  max-width: 90px;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round h4 {
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round h5 {
  font-size: 12px;
  line-height: 14px;
  color: #8f8796;
  margin: 3px 0 0 0;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round .squircle-character {
  position: relative;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round .squircle-character span {
  position: absolute;
  margin-top: 2px;
  text-align: center;
  color: white;
  font-weight: 500;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-wrapper .idea__profile__main__wrapper .avatar-round.small-avatar .squircle-character {
  width: 24px;
  height: 24px;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round.small-avatar .squircle-character span {
  height: 22px;
  width: 23px;
  font-size: 12px;
  line-height: 22px;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round.medium-avatar .squircle-character {
  width: 40px;
  height: 40px;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round.medium-avatar .squircle-character span {
  height: 40px;
  width: 40px;
  font-size: 12px;
  line-height: 1.1;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round.large-avatar .squircle-character {
  width: 56px;
  height: 56px;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round.large-avatar .squircle-character span {
  height: 56px;
  width: 56px;
  font-size: 24px;
  line-height: 1.2;
}

.main-wrapper .idea__profile__main__wrapper .avatar-round.large-avatar .squircle-character > div {
  width: unset !important;
  height: unset !important;
}

.main-wrapper .idea__profile__main__wrapper .idea__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 310px;
  width: 100%;
  max-height: 64px;
  height: 100%;
  min-width: 233px;
}

.main-wrapper .idea__profile__main__wrapper .idea__content .idea__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.main-wrapper .idea__profile__main__wrapper .idea__content .idea__header .idea__tag {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #736977;
}

.main-wrapper .idea__profile__main__wrapper .idea__content .idea__header .idea__title {
  margin-left: 14px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #151219;
}

.main-wrapper .idea__profile__main__wrapper .idea__content .idea__body {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #736977;
}

.main-wrapper .idea__profile__main__wrapper .estimated-value-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  height: 56px;
}

.main-wrapper .idea__profile__main__wrapper .estimated-value-card .estimated-value-card__indicator {
  width: 4px;
  border-radius: 8px;
  background-color: #05a69e;
}

.main-wrapper .idea__profile__main__wrapper .estimated-value-card .description {
  width: 132px;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .idea__profile__main__wrapper .estimated-value-card__title {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  color: #736977;
  text-transform: capitalize;
  margin: 0;
}

.main-wrapper .idea__profile__main__wrapper .estimated-value-card__value {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px;
  color: #151219;
  text-transform: capitalize;
  margin: 0;
  margin-top: 10px;
}

.main-wrapper .idea__profile__main__wrapper .estimated-risk-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
}

.main-wrapper .idea__profile__main__wrapper .estimated-risk-card .estimated-risk-card__indicator {
  width: 4px;
  border-radius: 8px;
}

.main-wrapper .idea__profile__main__wrapper .estimated-risk-card .description {
  width: 101.71px;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .idea__profile__main__wrapper .estimated-risk-card__title {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  color: #736977;
  text-transform: capitalize;
  margin: 0;
}

.main-wrapper .idea__profile__main__wrapper .estimated-risk-card__value {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px;
  color: #151219;
  text-transform: capitalize;
  margin: 0;
  margin-top: 10px;
}

.main-wrapper .idea__details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 26px 22px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 32px;
  padding-right: 0;
}

.main-wrapper .idea__details__container .problem-approach__container-inner {
  max-width: 178px;
  width: 100%;
  margin-right: 12px;
}

.main-wrapper .idea__details__container .problem-approach__container-inner .idea__overview__header__container {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  letter-spacing: -0.666667px;
  margin-bottom: 10px;
  color: #151219;
}

.main-wrapper .idea__details__container .problem-approach__container-inner .input--display {
  width: 100%;
  padding: 10px;
  min-height: 120px;
  border: 0.5px solid #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #736977;
}

.main-wrapper .idea__details__container .overview__display__card {
  width: 100%;
  max-width: 110px;
  height: 163px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-wrapper .idea__details__container .overview__display__card .overview__values__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: white;
  position: relative;
  height: 90%;
  padding: 8px;
}

.main-wrapper .idea__details__container .overview__display__card .overview__values__content__wrapper .overview__values__itemtype {
  text-transform: capitalize;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #736977;
}

.main-wrapper .idea__details__container .overview__display__card .overview__values__content__wrapper .overview__values__displayvalue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: calc(50% - 22px);
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.0433em;
  color: #151219;
}

.main-wrapper .idea__details__container .overview__display__card .overview__values__content__wrapper .overview__values__displayvalue .overview__values__notation {
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.main-wrapper .idea__team__container {
  margin-top: 32px;
  width: 100%;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper {
  padding: 22px 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__content .idea__team__text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.416667px;
  color: #736977;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__content .idea__team__text__content span {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.333333px;
  color: #736977;
  font-weight: normal;
  margin: 0 5px;
  margin-bottom: 3px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__content .idea__team__text__content .span--showmore {
  font-weight: bold;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #736977;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__content .idea__team__text__content p {
  margin: 0;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__content .idea__team__editbutton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: none;
  background: #e8e7e8;
  border-radius: 8px;
  height: 24px;
  width: 24px;
  padding: 6px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__content .idea__team__editbutton a:hover::after {
  content: attr(data-editTeam);
  position: absolute;
  background-color: gray;
  color: white;
  top: -30px;
  left: 10px;
  width: 80px;
  display: block;
  padding-left: 4px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 238px;
  width: 100%;
  max-height: 68px;
  margin: 22px;
  padding: 14px;
  position: relative;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper:hover {
  background: #f6f2f8;
  border-radius: 16px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper:hover .remove__teamMember__button {
  display: block;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .remove__teamMember__button {
  position: absolute;
  top: 17.5px;
  right: 17.5px;
  border: none;
  background: none;
  width: 17.5px;
  height: 17.5px;
  display: none;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .remove__teamMember__button svg path {
  fill: #736977;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto !important;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .avatar-photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .text-container {
  margin-left: 17px;
  max-width: 90px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round h4 {
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round h5 {
  font-size: 12px;
  line-height: 14px;
  color: #8f8796;
  margin: 3px 0 0 0;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .squircle-character {
  position: relative;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .squircle-character span {
  position: absolute;
  margin-top: 2px;
  text-align: center;
  color: white;
  font-weight: 500;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.small-avatar .squircle-character {
  width: 24px;
  height: 24px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.small-avatar .squircle-character span {
  height: 22px;
  width: 23px;
  font-size: 12px;
  line-height: 22px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.medium-avatar .squircle-character {
  width: 40px;
  height: 40px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.medium-avatar .squircle-character span {
  height: 40px;
  width: 40px;
  font-size: 12px;
  line-height: 1.1;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.large-avatar .squircle-character {
  width: 56px;
  height: 56px;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.large-avatar .squircle-character span {
  height: 56px;
  width: 56px;
  font-size: 35px;
  line-height: 1.2;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.large-avatar .squircle-character > div {
  width: unset !important;
  height: unset !important;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .text-container {
  max-width: 180px !important;
}

.main-wrapper .idea__team__container .idea__team__display__wrapper .idea__team__avatars .single__avatar__wrapper .text-container h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
}

.main-wrapper .opportunity-table-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper .opportunity-table-sections .tabs-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 1px #4040401f, 0 1px 2px 0 #0e0e0e12;
          box-shadow: 0 2px 5px 1px #4040401f, 0 1px 2px 0 #0e0e0e12;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button {
  border-radius: 0px;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  -webkit-letter-spacing: -0.44px;
  -moz-letter-spacing: -0.44px;
  -ms-letter-spacing: -0.44px;
  letter-spacing: -0.44px;
  text-align: left;
  background-color: #ffffff;
  color: #77869e;
  border-color: #77869e;
  min-width: 154px;
  padding: 11px 16px 12px 15px;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button:not(:last-of-type) {
  border-right: 1px solid #dde1ee;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button .buttonTab-wrapper {
  max-width: 626px;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button .buttonTab-wrapper .buttonTab-label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #7a7a7a;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button .buttonTab-wrapper .buttonTab-label p {
  margin-bottom: 0;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button .buttonTab-wrapper .buttonTab-box {
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 4px 0;
  display: block;
  max-width: 143px;
  min-width: 69px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button .buttonTab-wrapper .buttonTab-title-wraper {
  color: #151219;
}

.main-wrapper .opportunity-table-sections .tabs-group .value-sub-button .buttonTab-wrapper .buttonTab-amount-wraper {
  margin-top: 6px;
}

.main-wrapper .opportunity-table-sections .tabs-group .isSelected {
  width: 162px;
  border-radius: 0px;
  font-weight: 600;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  -webkit-letter-spacing: -0.44px;
  -moz-letter-spacing: -0.44px;
  -ms-letter-spacing: -0.44px;
  letter-spacing: -0.44px;
  text-align: left;
  background-color: #f6f2f8;
  color: #151219;
  border-color: #151219;
  min-width: 154px;
  padding: 11px 16px 12px 15px;
}

.main-wrapper .table-wrapper {
  margin-top: 32px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .target-date .value-text {
  text-align: center;
  width: 100%;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .target-date p {
  color: #736977;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validators {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-text-cell {
  max-width: 160px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper {
  display: block;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper .plus-minus-cell-button-wrapper {
  position: relative !important;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper .plus-minus-cell-button-wrapper .plus-minus-cell-button {
  width: 34px;
  height: 34px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper .plus-minus-cell-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .overlay-dropdown-trigger {
  padding: 8px 10px 8px 8px;
  border-radius: 8px;
  color: #736977;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-number-cell-container {
  position: relative;
  display: inline-block;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-number-cell-container .input-number-cell {
  text-align: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-number-cell-container .field-tooltip-error {
  position: absolute;
  top: -9px;
  right: -9px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell.popover {
  border: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .popover-body {
  padding: 0;
  background-color: transparent;
  border: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell:hover .search {
  opacity: 1;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-width: 100px;
  position: relative;
  height: 42px;
  z-index: 0;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown {
  background-color: white;
  padding: 10px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item {
  overflow: hidden;
  min-width: 180px;
  line-height: 32px;
  padding: 7px 10px 7px 25px;
  border-bottom: 0.5px solid #f6f6f6;
  font-size: 14px;
  font-weight: 600;
  color: #77869e;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item:last-child {
  border-bottom: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item.focused, .main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item:hover {
  background-color: rgba(75, 126, 153, 0.1);
  color: #4b7e99;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown-position .item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .add-validator-button {
  width: 28px;
  height: 28px;
  border: 1px dashed #4b7e99;
  opacity: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper .avatar {
  width: 24px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper > div {
  -webkit-box-shadow: 0 2px 5px rgba(64, 64, 64, 0.12), inset 0 1px 2px rgba(14, 14, 14, 0.07);
          box-shadow: 0 2px 5px rgba(64, 64, 64, 0.12), inset 0 1px 2px rgba(14, 14, 14, 0.07);
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper.avatar-icon-wrapper {
  border: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper.avatar-icon-wrapper > div {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(2) {
  z-index: 3;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(2) > div {
  background-color: #00ba9f;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(3) {
  z-index: 2;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(4) {
  z-index: 1;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell:hover {
  cursor: pointer;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell:hover .add-validator-button {
  opacity: 1;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .search {
  position: absolute !important;
  z-index: 10 !important;
  max-width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .incomplete {
  font-size: 12px;
  color: #a6a6a6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .unchecked {
  border: 1.5px solid #a6a6a6;
  width: 18px;
  height: 18px;
  border-radius: 9px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .unchecked:hover,
.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell svg:hover {
  cursor: pointer;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .disabled-status {
  cursor: not-allowed !important;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .disabled-status {
  cursor: not-allowed;
}

.main-wrapper .table-wrapper .opportunity-table .add-record-button {
  font-family: Avenir Next LT Pro, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #adb6c5;
}

.main-wrapper .table-wrapper .opportunity-table .add-record-button:hover {
  cursor: pointer;
}

.main-wrapper .table-wrapper .value-table th:last-child,
.main-wrapper .table-wrapper .value-table td:last-child {
  width: 0;
  padding-right: 0 !important;
}

.main-wrapper .table-wrapper .value-table .agreed-table {
  width: 100%;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper {
  padding: 0 2px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .date-selector input {
  max-width: 110px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .table-input,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input {
  height: 33px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #736977;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.main-wrapper .table-wrapper .value-table .agreed-table .table-input:focus, .main-wrapper .table-wrapper .value-table .agreed-table .table-input:active, .main-wrapper .table-wrapper .value-table .agreed-table .table-input:hover,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input:focus,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input:active,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input:hover {
  border-color: #dacdff;
  outline: none;
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: 47px;
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr th {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr th:last-child {
  padding-right: 39px;
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr th .header-cell-wrapper {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #151219;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr {
  height: 44px;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr td:first-child .avatar .text-container h4 {
  max-width: 1000px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr:hover {
  background-color: #f6f2f8;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
/*# sourceMappingURL=index.css.map */
