.main-wrapper {
  max-width: 794px;
  margin: 0 auto;

  .idea__profile__main__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 32px 0;

    .avatar-round {
      display: flex;
      align-items: center;
      height: auto !important;

      .avatar-photo {
        display: inline-flex;
      }

      .text-container {
        margin-left: 17px;
        max-width: 90px;
      }

      h4 {
        font-size: 14px;
        font-weight: 600;
      }

      h5 {
        font-size: 12px;
        line-height: 14px;
        color: #8f8796;
        margin: 3px 0 0 0;
      }

      .squircle-character {
        position: relative;

        span {
          position: absolute;
          margin-top: 2px;
          text-align: center;
          color: white;
          font-weight: 500;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.small-avatar {
        .squircle-character {
          width: 24px;
          height: 24px;

          span {
            height: 22px;
            width: 23px;
            font-size: 12px;
            line-height: 22px;
          }
        }
      }

      &.medium-avatar {
        .squircle-character {
          width: 40px;
          height: 40px;

          span {
            height: 40px;
            width: 40px;
            font-size: 12px;
            line-height: 1.1;
          }
        }
      }

      &.large-avatar {
        .squircle-character {
          width: 56px;
          height: 56px;

          span {
            height: 56px;
            width: 56px;
            font-size: 24px;
            line-height: 1.2;
          }

          > div {
            width: unset !important;
            height: unset !important;
          }
        }
      }
    }

    .idea__content {
      display: flex;
      flex-direction: column;
      // max-width: 532px;
      max-width: 310px;
      width: 100%;
      max-height: 64px;
      height: 100%;
      min-width: 233px;

      .idea__header {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        .idea__tag {
          font-family: "Avenir Next LT Pro";
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #736977;
        }

        .idea__title {
          margin-left: 14px;
          font-family: "Avenir Next LT Pro";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #151219;
        }
      }

      .idea__body {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-basis: 100%;
        font-family: "Avenir Next LT Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.15px;
        color: #736977;
      }
    }

    .estimated-value-card {
      display: flex;
      margin-right: 20px;
      height: 56px;
      .estimated-value-card__indicator {
        //height: 100%;
        width: 4px;
        border-radius: 8px;
        background-color: #05a69e;
      }
      .description {
        width: 132px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__title {
        font-family: "Avenir Next LT Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.15px;
        color: #736977;
        text-transform: capitalize;
        // margin-top: 24px;
        // margin-bottom: 0;
        margin: 0;
      }
      &__value {
        font-family: "Avenir Next LT Pro";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.15px;
        color: #151219;
        text-transform: capitalize;
        // margin-top: 10px;
        // margin-bottom: 24px;
        margin: 0;
        margin-top: 10px;
      }
    }

    .estimated-risk-card {
      display: flex;
      height: 56px;
      .estimated-risk-card__indicator {
        width: 4px;
        border-radius: 8px;
      }
      .description {
        width: 101.71px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__title {
        font-family: "Avenir Next LT Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.15px;
        color: #736977;
        text-transform: capitalize;
        // margin-top: 24px;
        // margin-bottom: 0;
        margin: 0;
      }
      &__value {
        font-family: "Avenir Next LT Pro";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.15px;
        color: #151219;
        text-transform: capitalize;
        // margin-top: 10px;
        // margin-bottom: 24px;
        margin: 0;
        margin-top: 10px;
      }
    }
  }

  .table-wrapper {
    margin-top: 32px;

    .opportunity-table {
      .cell-wrapper {
        .avatar-round {
          display: flex;
          align-items: center;
          height: auto !important;

          .avatar-photo {
            display: inline-flex;
          }

          .text-container {
            margin-left: 17px;
            max-width: 90px;
          }

          h4 {
            font-size: 14px;
            font-weight: 600;
          }

          h5 {
            font-size: 12px;
            line-height: 14px;
            color: #8f8796;
            margin: 3px 0 0 0;
          }

          .squircle-character {
            position: relative;

            span {
              position: absolute;
              margin-top: 2px;
              text-align: center;
              color: white;
              font-weight: 500;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          &.small-avatar {
            .squircle-character {
              width: 24px;
              height: 24px;

              span {
                height: 22px;
                width: 23px;
                font-size: 12px;
                line-height: 22px;
              }
            }
          }

          &.medium-avatar {
            .squircle-character {
              width: 40px;
              height: 40px;

              span {
                height: 40px;
                width: 40px;
                font-size: 12px;
                line-height: 1.1;
              }
            }
          }

          &.large-avatar {
            .squircle-character {
              width: 56px;
              height: 56px;

              span {
                height: 56px;
                width: 56px;
                font-size: 24px;
                line-height: 1.2;
              }

              > div {
                width: unset !important;
                height: unset !important;
              }
            }
          }
        }

        .plus-minus-cell-wrapper {
          display: block;
          // .plus-minus-cell-wrapper{
          // display: block;
          // opacity: 1;
          // }
          .plus-minus-cell-button-wrapper {
            position: relative !important;
            .plus-minus-cell-button {
              width: 34px;
              height: 34px;
              // margin-right: 10px;
            }
          }
          .plus-minus-cell-value {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
        }

        .overlay-dropdown-trigger {
          padding: 8px 10px 8px 8px;
          padding-bottom: 20px;
          border-radius: 8px;
          color: #736977;
          font-size: 14px;
          font-weight: 500;
          height: 30px;
          background-color: transparent;
          border-color: transparent;
          width: 130px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .input-number-cell-container {
          position: relative;
          display: inline-block;

          .input-number-cell {
            text-align: center;
          }
          .field-tooltip-error {
            position: absolute;
            top: -9px;
            right: -9px;
          }
        }
      }

      .add-record-button {
        font-family: Avenir Next LT Pro, sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #adb6c5;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .value-table {
      th,
      td {
        &:last-child {
          width: 0;
          padding-right: 0 !important;
        }
      }

      .agreed-table {
        width: 100%;

        .cell-wrapper {
          padding: 0 2px;
        }

        .date-selector {
          input {
            max-width: 110px;
          }
        }

        .table-input,
        .react-datepicker__input-container input {
          height: 33px;
          font-size: 12px;
          border: 1px solid transparent;
          border-radius: 8px;
          padding: 8px;
          box-sizing: border-box;
          color: #736977;
          transition: 0.15s ease-in;

          &:focus,
          &:active,
          &:hover {
            border-color: #dacdff;
            outline: none;
          }
        }

        thead tr {
          border-top: 1px solid rgba(0, 0, 0, 0.08);
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);
          height: 47px;

          th {
            &:last-child {
              padding-right: 39px;
            }
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
          }

          th .header-cell-wrapper {
            // padding-right: 10px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: #151219;
            user-select: none;
          }
        }

        tbody {
          tr {
            height: 44px;

            td {
              &:first-child {
                .avatar {
                  .text-container {
                    h4 {
                      max-width: 1000px;
                      overflow: hidden;
                      white-space: nowrap;
                      display: block;
                      text-overflow: ellipsis;
                    }
                  }
                }
              }

              // border-top: 1px solid rgba(0, 0, 0, 0.08);
              border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            }
          }

          tr:hover {
            background-color: #f6f2f8;
            transition: 0.15s ease-in-out;
          }
        }
      }
    }
  }
}
