.main-header {
  max-width: 1755px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #736977;
}

.main-header h5 {
  margin-left: 32px;
  font-weight: 600;
  font-size: 12px;
  color: #ffb612;
  color: #f57f42;
  color: #824bb0;
  color: #1a677a;
  color: #00c0b5;
}

.main-wrapper {
  max-width: 1755px;
  width: 100%;
  margin: 0 auto;
}

.main-wrapper .problem-approach__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 1110px;
  margin-bottom: 32px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.666667px;
  color: #151219;
}

.main-wrapper .problem-approach__container h3 {
  font-size: 24px;
  font-weight: 600;
  color: #151219;
}

.main-wrapper .problem-approach__container .problem-container,
.main-wrapper .problem-approach__container .approach-container {
  width: 50%;
}

.main-wrapper .problem-approach__container .problem-container div,
.main-wrapper .problem-approach__container .approach-container div {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #8a898c;
}

.main-wrapper .problem-approach__container .problem-container {
  margin-right: 32px;
}

.main-wrapper .costs-benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #736977;
}

.main-wrapper .costs-benefits__container div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 23.5%;
  min-width: 260px;
  max-width: 373px;
  height: 76px;
  padding: 14px 0;
  border: 1px solid #e3dde6;
  border-radius: 16px;
}

.main-wrapper .costs-benefits__container div h5,
.main-wrapper .costs-benefits__container div p {
  margin: 0;
}

.main-wrapper .costs-benefits__container div p {
  margin-top: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.0433em;
  color: #151219;
}

.main-wrapper .costs-benefits__container .rightMargin {
  margin-right: 24px;
}

.main-wrapper .idea__profile__main__wrapper-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 32px 0;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 690px;
  max-width: 1314px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto !important;
  padding-right: 20px;
  margin-right: 20px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round .avatar-photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round .text-container {
  margin-left: 17px;
  max-width: 90px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round h4 {
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round h5 {
  font-size: 12px;
  line-height: 14px;
  color: #8f8796;
  margin: 3px 0 0 0;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round .squircle-character {
  position: relative;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round .squircle-character span {
  position: absolute;
  margin-top: 2px;
  text-align: center;
  color: white;
  font-weight: 500;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round.small-avatar .squircle-character {
  width: 24px;
  height: 24px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round.small-avatar .squircle-character span {
  height: 22px;
  width: 23px;
  font-size: 12px;
  line-height: 22px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round.medium-avatar .squircle-character {
  width: 40px;
  height: 40px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round.medium-avatar .squircle-character span {
  height: 40px;
  width: 40px;
  font-size: 12px;
  line-height: 1.1;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round.large-avatar .squircle-character {
  width: 56px;
  height: 56px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round.large-avatar .squircle-character span {
  height: 56px;
  width: 56px;
  font-size: 24px;
  line-height: 1.2;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .avatar-round.large-avatar .squircle-character > div {
  width: unset !important;
  height: unset !important;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .idea__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 532px;
  width: 100%;
  max-height: 64px;
  height: 100%;
  min-width: 233px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .idea__content .idea__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .idea__content .idea__header .idea__tag {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #736977;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .idea__content .idea__header .idea__title {
  margin-left: 14px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #151219;
}

.main-wrapper .idea__profile__main__wrapper-new .main-inner-container .idea__content .idea__body {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #736977;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-value-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  height: 56px;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-value-card .estimated-value-card__indicator {
  width: 4px;
  border-radius: 8px;
  background-color: #05a69e;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-value-card .description {
  width: 132px;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-value-card__title {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  color: #736977;
  text-transform: capitalize;
  margin: 0;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-value-card__value {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px;
  color: #151219;
  text-transform: capitalize;
  margin: 0;
  margin-top: 10px;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-risk-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-risk-card .estimated-risk-card__indicator {
  width: 4px;
  border-radius: 8px;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-risk-card .description {
  width: 101.71px;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-risk-card__title {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  color: #736977;
  text-transform: capitalize;
  margin: 0;
}

.main-wrapper .idea__profile__main__wrapper-new .secondary-inner-container .estimated-risk-card__value {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px;
  color: #151219;
  text-transform: capitalize;
  margin: 0;
  margin-top: 10px;
}

.main-wrapper .idea__team__avatars {
  border-collapse: collapse;
}

.main-wrapper .idea__team__avatars table {
  width: 100%;
}

.main-wrapper .idea__team__avatars tr {
  text-align: center;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 238px;
  width: 100%;
  max-height: 68px;
  margin: 22px;
  margin-left: 0;
  position: relative;
  min-width: 300px;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper:hover {
  background: #f6f2f8;
  border-radius: 16px;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper:hover .remove__teamMember__button {
  display: block;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .remove__teamMember__button {
  position: absolute;
  top: 17.5px;
  right: 17.5px;
  border: none;
  background: none;
  width: 17.5px;
  height: 17.5px;
  display: none;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .remove__teamMember__button svg path {
  fill: #736977;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto !important;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .avatar-photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .avatar-photo > div {
  margin-left: 0 !important;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .text-container__wrapper {
  display: block;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .text-container__wrapper .text-container {
  margin-left: 17px;
  text-align: start;
  max-width: none !important;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .text-container__wrapper .text-container h4 {
  margin-bottom: 4px;
  max-width: 400px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .text-container__wrapper .text-container p {
  margin: 0;
  font-size: 12px;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round h4 {
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round h5 {
  font-size: 12px;
  line-height: 14px;
  color: #8f8796;
  margin: 3px 0 0 0;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .squircle-character {
  position: relative;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round .squircle-character span {
  position: absolute;
  margin-top: 2px;
  text-align: center;
  color: white;
  font-weight: 500;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.small-avatar .squircle-character {
  width: 24px;
  height: 24px;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.small-avatar .squircle-character span {
  height: 22px;
  width: 23px;
  font-size: 12px;
  line-height: 22px;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.medium-avatar .squircle-character {
  width: 40px;
  height: 40px;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.medium-avatar .squircle-character span {
  height: 40px;
  width: 40px;
  font-size: 12px;
  line-height: 1.1;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.large-avatar .squircle-character {
  width: 56px;
  height: 56px;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.large-avatar .squircle-character span {
  height: 56px;
  width: 56px;
  font-size: 35px;
  line-height: 1.2;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .avatar-round.large-avatar .squircle-character > div {
  width: unset !important;
  height: unset !important;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .text-container {
  max-width: 180px !important;
}

.main-wrapper .idea__team__avatars .single__avatar__wrapper .text-container h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
}

.main-wrapper .table-wrapper {
  margin-top: 32px;
}

.main-wrapper .table-wrapper .placeholder-container {
  padding: 4px 8px;
  width: 84px;
  height: 20px;
  background: #f6f2f8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2px;
  color: #736977;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .target-date .value-text {
  text-align: center;
  width: 100%;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .target-date p {
  color: #736977;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validators {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-text-cell {
  max-width: 160px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper {
  display: block;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper .plus-minus-cell-button-wrapper {
  position: relative !important;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper .plus-minus-cell-button-wrapper .plus-minus-cell-button {
  width: 34px;
  height: 34px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .plus-minus-cell-wrapper .plus-minus-cell-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .overlay-dropdown-trigger {
  padding: 8px 10px 8px 8px;
  border-radius: 8px;
  color: #736977;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-email-container {
  padding: 8px 10px 8px 8px;
  border-radius: 8px;
  color: #736977;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-number-cell-container {
  position: relative;
  display: inline-block;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-number-cell-container .input-number-cell {
  text-align: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .input-number-cell-container .field-tooltip-error {
  position: absolute;
  top: -9px;
  right: -9px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell.popover {
  border: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .popover-body {
  padding: 0;
  background-color: transparent;
  border: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell:hover .search {
  opacity: 1;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-width: 100px;
  position: relative;
  height: 42px;
  z-index: 0;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown {
  background-color: white;
  padding: 10px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item {
  overflow: hidden;
  min-width: 180px;
  line-height: 32px;
  padding: 7px 10px 7px 25px;
  border-bottom: 0.5px solid #f6f6f6;
  font-size: 14px;
  font-weight: 600;
  color: #77869e;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item:last-child {
  border-bottom: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item.focused, .main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown .item:hover {
  background-color: rgba(75, 126, 153, 0.1);
  color: #4b7e99;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .dropdown-position .item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .add-validator-button {
  width: 28px;
  height: 28px;
  border: 1px dashed #4b7e99;
  opacity: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper .avatar {
  width: 24px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper > div {
  -webkit-box-shadow: 0 2px 5px rgba(64, 64, 64, 0.12), inset 0 1px 2px rgba(14, 14, 14, 0.07);
          box-shadow: 0 2px 5px rgba(64, 64, 64, 0.12), inset 0 1px 2px rgba(14, 14, 14, 0.07);
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper.avatar-icon-wrapper {
  border: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper.avatar-icon-wrapper > div {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(2) {
  z-index: 3;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(2) > div {
  background-color: #00ba9f;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(3) {
  z-index: 2;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .avatar-wrapper:nth-child(4) {
  z-index: 1;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell:hover {
  cursor: pointer;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell:hover .add-validator-button {
  opacity: 1;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validator-selector-cell .search {
  position: absolute !important;
  z-index: 10 !important;
  max-width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .incomplete {
  font-size: 12px;
  color: #a6a6a6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .unchecked {
  border: 1.5px solid #a6a6a6;
  width: 18px !important;
  height: 18px !important;
  border-radius: 9px;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .unchecked:hover,
.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell svg:hover {
  cursor: pointer;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .validate-and-draft-cell .disabled-status {
  cursor: not-allowed !important;
}

.main-wrapper .table-wrapper .opportunity-table .cell-wrapper .disabled-status {
  cursor: not-allowed;
}

.main-wrapper .table-wrapper .opportunity-table .add-record-button {
  font-family: Avenir Next LT Pro, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #adb6c5;
}

.main-wrapper .table-wrapper .opportunity-table .add-record-button:hover {
  cursor: pointer;
}

.main-wrapper .table-wrapper .value-table th:last-child {
  padding-right: 0 !important;
}

.main-wrapper .table-wrapper .value-table .agreed-table {
  width: 100%;
  border-collapse: collapse;
}

.main-wrapper .table-wrapper .value-table .agreed-table tr {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.main-wrapper .table-wrapper .value-table .agreed-table th,
.main-wrapper .table-wrapper .value-table .agreed-table td {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper {
  padding: 0 2px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto !important;
  padding-right: 20px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round .avatar-photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round .text-container {
  margin-left: 17px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round h4 {
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round h5 {
  font-size: 12px;
  line-height: 14px;
  color: #8f8796;
  margin: 3px 0 0 0;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round .squircle-character {
  position: relative;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round .squircle-character span {
  position: absolute;
  margin-top: 2px;
  text-align: center;
  color: white;
  font-weight: 500;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round.small-avatar .squircle-character {
  width: 24px;
  height: 24px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round.small-avatar .squircle-character span {
  height: 22px;
  width: 23px;
  font-size: 12px;
  line-height: 22px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round.medium-avatar .squircle-character {
  width: 40px;
  height: 40px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round.medium-avatar .squircle-character span {
  height: 40px;
  width: 40px;
  font-size: 12px;
  line-height: 1.1;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round.large-avatar .squircle-character {
  width: 56px;
  height: 56px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round.large-avatar .squircle-character span {
  height: 56px;
  width: 56px;
  font-size: 24px;
  line-height: 1.2;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .avatar-round.large-avatar .squircle-character > div {
  width: unset !important;
  height: unset !important;
}

.main-wrapper .table-wrapper .value-table .agreed-table .cell-wrapper .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .table-wrapper .value-table .agreed-table .date-selector input {
  max-width: 110px;
}

.main-wrapper .table-wrapper .value-table .agreed-table .table-input,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input {
  height: 33px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #736977;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.main-wrapper .table-wrapper .value-table .agreed-table .table-input:focus, .main-wrapper .table-wrapper .value-table .agreed-table .table-input:active, .main-wrapper .table-wrapper .value-table .agreed-table .table-input:hover,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input:focus,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input:active,
.main-wrapper .table-wrapper .value-table .agreed-table .react-datepicker__input-container input:hover {
  border-color: #dacdff;
  outline: none;
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: 47px;
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr th {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr th:last-child {
  padding-right: 39px;
}

.main-wrapper .table-wrapper .value-table .agreed-table thead tr th .header-cell-wrapper {
  padding: 0 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #151219;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr {
  height: 44px;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr td:first-child .avatar .text-container h4 {
  max-width: 1000px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr td .cell-wrapper .validator-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr td .cell-wrapper .validator-container .placeholder-container {
  margin: 0 auto !important;
  margin-bottom: 5px !important;
}

.main-wrapper .table-wrapper .value-table .agreed-table tbody tr:hover {
  background-color: #f6f2f8;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.main-wrapper .table-wrapper .risk-plan-extras .header-cell-wrapper {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.main-wrapper .table-wrapper .risk-plan-extras .status-column-extras {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.main-wrapper .table-wrapper .agreement-extras .decisionMakers-extras {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table th,
.main-wrapper .table-wrapper .personnel-table .agreed-table td {
  text-align: center;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table thead tr th {
  min-width: 241px;
  max-width: 358px;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table thead tr th:nth-child(2) {
  min-width: 32px !important;
  width: 32px !important;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table thead tr th:nth-child(4) {
  min-width: 32px !important;
  width: 32px !important;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table thead tr th:nth-child(5) {
  min-width: 164px !important;
  max-width: 164px !important;
  width: 164px !important;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table thead tr th .header-cell-wrapper {
  padding: 0 !important;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table tbody tr {
  height: auto !important;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table tbody tr td .cell-wrapper .validator-container p {
  text-align: center;
  word-break: break-word;
  max-width: none !important;
  width: 98% !important;
}

.main-wrapper .table-wrapper .personnel-table .agreed-table .input-text-cell {
  max-width: none;
  height: auto;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table th,
.main-wrapper .table-wrapper .non-personnel-table .agreed-table td {
  text-align: center;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th {
  min-width: 241px;
  max-width: 358px;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th:nth-child(2) {
  min-width: 32px !important;
  width: 32px !important;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th:nth-child(4) {
  min-width: 132px !important;
  width: 132px !important;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th:nth-child(5), .main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th:nth-child(6) {
  min-width: 100px !important;
  max-width: 100px !important;
  width: 100px !important;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th:nth-child(7), .main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th:nth-child(8) {
  min-width: 207px !important;
  max-width: 207px !important;
  width: 207px !important;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table thead tr th .header-cell-wrapper {
  padding: 0 !important;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table tbody tr {
  height: auto !important;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table tbody tr td .cell-wrapper p:first-child,
.main-wrapper .table-wrapper .non-personnel-table .agreed-table tbody tr td .cell-wrapper div:first-child {
  text-align: center;
  width: 100%;
}

.main-wrapper .table-wrapper .non-personnel-table .agreed-table .input-text-cell {
  max-width: none;
  height: auto;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table th,
.main-wrapper .table-wrapper .revenues-table .agreed-table td {
  text-align: center;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table thead tr th {
  min-width: 178px;
  max-width: 295px;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table thead tr th:nth-child(2) {
  min-width: 32px !important;
  width: 32px !important;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table thead tr th:nth-child(4), .main-wrapper .table-wrapper .revenues-table .agreed-table thead tr th:nth-child(5) {
  min-width: 124px !important;
  max-width: 124px !important;
  width: 124px !important;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table thead tr th:nth-child(6), .main-wrapper .table-wrapper .revenues-table .agreed-table thead tr th:nth-child(7) {
  min-width: 100px !important;
  max-width: 100px !important;
  width: 100px !important;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table thead tr th .header-cell-wrapper {
  padding: 0 !important;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table tbody tr {
  height: auto !important;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table tbody tr td .cell-wrapper p:first-child,
.main-wrapper .table-wrapper .revenues-table .agreed-table tbody tr td .cell-wrapper div:first-child {
  text-align: center;
  width: 100%;
}

.main-wrapper .table-wrapper .revenues-table .agreed-table .input-text-cell {
  max-width: none;
  height: auto;
  word-break: break-word;
}

.main-wrapper .table-wrapper .risk-table .agreed-table thead tr th:nth-child(1) {
  min-width: 284px !important;
  max-width: 284px !important;
  width: 284px !important;
}

.main-wrapper .table-wrapper .risk-table .agreed-table thead tr th:nth-child(2) {
  min-width: 132px !important;
  max-width: 132px !important;
  width: 132px !important;
}

.main-wrapper .table-wrapper .risk-table .agreed-table thead tr th:nth-child(2) .header-cell-wrapper {
  display: block !important;
  text-align: center;
}

.main-wrapper .table-wrapper .risk-table .agreed-table thead tr th:nth-child(3) {
  min-width: 672px !important;
  max-width: 1139px !important;
}

.main-wrapper .table-wrapper .risk-table .agreed-table thead tr th:nth-child(4) {
  min-width: 124px !important;
  max-width: 124px !important;
  width: 124px !important;
}

.main-wrapper .table-wrapper .risk-table .agreed-table thead tr th:nth-child(4) .header-cell-wrapper {
  display: block !important;
  text-align: center;
}

.main-wrapper .table-wrapper .risk-table .agreed-table thead tr th .header-cell-wrapper {
  padding: 0 10px !important;
}

.main-wrapper .table-wrapper .risk-table .agreed-table tbody tr {
  height: auto !important;
}

.main-wrapper .table-wrapper .risk-table .agreed-table tbody tr td .cell-wrapper .avatar-round .text-container {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.main-wrapper .table-wrapper .risk-table .agreed-table tbody tr td .cell-wrapper .overlay-dropdown-trigger {
  height: auto;
  max-width: unset;
  width: 98%;
  display: block;
}

.main-wrapper .table-wrapper .risk-table .agreed-table tbody tr td .cell-wrapper .validation-status-container {
  width: 100%;
  text-align: center;
}

.main-wrapper .table-wrapper .risk-table .agreed-table .input-text-cell {
  max-width: none;
  height: auto;
}

.main-wrapper .table-wrapper .agreements-table .agreed-table thead tr th:nth-child(1) {
  min-width: 452px !important;
  max-width: 499px !important;
  width: 499px;
}

.main-wrapper .table-wrapper .agreements-table .agreed-table thead tr th:nth-child(2), .main-wrapper .table-wrapper .agreements-table .agreed-table thead tr th:nth-child(3), .main-wrapper .table-wrapper .agreements-table .agreed-table thead tr th:nth-child(4), .main-wrapper .table-wrapper .agreements-table .agreed-table thead tr th:nth-child(5), .main-wrapper .table-wrapper .agreements-table .agreed-table thead tr th:nth-child(6) {
  min-width: 148px !important;
  max-width: 232px !important;
  width: 232px;
}

.main-wrapper .table-wrapper .agreements-table .agreed-table thead tr th .header-cell-wrapper {
  padding: 0 10px !important;
}

.main-wrapper .table-wrapper .agreements-table .agreed-table tbody tr {
  height: auto !important;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(1) {
  min-width: 277px !important;
  max-width: 744px !important;
  width: 277px;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(2) {
  width: 479px;
  min-width: 479px;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(3) {
  width: 98px;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(3) .header-cell-wrapper {
  display: block !important;
  text-align: center;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(4) {
  width: 224px;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(4) .header-cell-wrapper {
  display: block !important;
  text-align: center;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(5) {
  width: 114px;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th:nth-child(5) .header-cell-wrapper {
  display: block !important;
  text-align: center;
}

.main-wrapper .table-wrapper .plan-table .agreed-table thead tr th .header-cell-wrapper {
  padding: 0 10px !important;
}

.main-wrapper .table-wrapper .plan-table .agreed-table tbody tr {
  height: auto !important;
}

.main-wrapper .table-wrapper .plan-table .agreed-table tbody tr td .input-text-cell {
  height: auto;
  max-width: none !important;
}

.main-wrapper .table-wrapper .plan-table .agreed-table tbody tr td:nth-child(3) .input-text-cell, .main-wrapper .table-wrapper .plan-table .agreed-table tbody tr td:nth-child(4) .input-text-cell {
  text-align: center;
  height: auto;
  max-width: none !important;
  word-break: break-word;
}

.main-wrapper .table-wrapper .legend-table {
  width: 425px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #736977;
}

.main-wrapper .table-wrapper .legend-table .agreed-table thead tr {
  height: 58px;
}

.main-wrapper .table-wrapper .legend-table .agreed-table thead tr th:nth-child(1) {
  width: 122px;
}

.main-wrapper .table-wrapper .legend-table .agreed-table thead tr th:nth-child(2), .main-wrapper .table-wrapper .legend-table .agreed-table thead tr th:nth-child(3), .main-wrapper .table-wrapper .legend-table .agreed-table thead tr th:nth-child(4) {
  width: 72px;
}

.main-wrapper .table-wrapper .legend-table .agreed-table thead tr th:nth-child(5) {
  width: 87px;
}

.main-wrapper .table-wrapper .legend-table .agreed-table tbody tr {
  height: 54px;
}

.main-wrapper .table-wrapper .legend-table .agreed-table tbody tr td {
  text-align: center;
}

.main-footer {
  max-width: 1755px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: blue;
  padding-top: 20px;
}

.section_title {
  font-size: 24px;
  font-weight: 600;
  color: #151219;
}

.footer-logo {
  width: 100px;
  height: 14px;
}
/*# sourceMappingURL=index.css.map */
